<p-autoComplete
  [(ngModel)]="lookupText"
  styleClass="full-width"
  inputStyleClass="full-width"
  [placeholder]="placeholder"
  emptyMessage="No stocks found"
  [delay]="500"
  [showEmptyMessage]="true"
  [suggestions]="suggestions$ | async"
  [minLength]="1"
  [multiple]="false"
  (onSelect)="suggestionSelected($event)"
  (onFocus)="clearLabel()"
  (completeMethod)="getStockSuggestions($event.query)"
>
  <ng-template let-item pTemplate="item">
    <ng-container *ngIf="changeRouteOnSelect; else elseTemplate">
      <p [routerLink]="item.symbol">
        {{ item.label }} ({{ item.symbol }})
      </p></ng-container
    >
    <ng-template #elseTemplate
      ><p>{{ item.label }} ({{ item.symbol }})</p></ng-template
    >
  </ng-template>
</p-autoComplete>
