.item {
  max-height: 150px;
  display: flex;
  border-bottom: 1px;
  padding-bottom: 10px;
}

.image {
  object-fit: cover;
  max-height: 150px;
  max-width: 200px;
}

.item-text {
  display: block;
  margin-left: 20px;
  border-bottom: 3px solid lightsteelblue;
  width: 100%;
}

.headline {
  padding-bottom: 5px;
}
