.events {
  margin-top: 10px;
}

.filters {
  display: flex;
  width: 100%;
}

.event-type {
  width: 20%;
  margin-right: 5%;
  margin-left: 5%;
}

.event-calendar {
  width: 30%;
  margin-right: 5%;
}
