<div class="dashboard">
  <p-tabView>
    <p-tabPanel header="Portfolio">
      <stock-portfolio></stock-portfolio>
    </p-tabPanel>
    <p-tabPanel header="Watchlist">
      <ng-template pTemplate="content">
        <stock-watchlist
          [isAuth]="isAuth$ | async"
          [user]="userData$ | async"
        ></stock-watchlist>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Market News">
      <ng-template pTemplate="content">
        <market-news></market-news>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Events">
      <ng-template pTemplate="content">
        <events></events>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
