<div class="header">
  <ng-container *ngIf="backButtonVisible$ | async">
    <div class="back-button p-component">
      <i class="pi pi-arrow-left" routerLink="/">Return to Dashboard</i>
    </div>
  </ng-container>

  <div class="lookup">
    <stock-lookup
      [suggestions]="suggestions$ | async"
      placeholder="Search for a stock symbol"
      (stockLookupChanged)="getStockSuggestions($event)"
    ></stock-lookup>
  </div>

  <div class="auth-button">
    <ng-container *ngIf="!(isAuth$ | async); else isAuth">
      <button pButton (click)="login()" label="Login"></button>
    </ng-container>
    <ng-template #isAuth>
      <div>
        <button
          pButton
          *ngIf="isAuth$ | async"
          (click)="logout()"
          label="Logout"
          pTooltip="Logged in as {{ (user$ | async)?.email }}"
          tooltipPosition="bottom"
        ></button>
      </div>
    </ng-template>
  </div>
</div>
