<div class="header">
  <div class="lookup">
    <stock-lookup
      [suggestions]="suggestions$ | async"
      (stockLookupChanged)="getStockSuggestions($event)"
      (stockSelected)="stockSelected($event)"
    ></stock-lookup>
  </div>

  <div class="header-buttons">
    <ng-container *ngIf="!(isAuth$ | async); else isAuth">
      <button pButton (click)="login()" label="Login"></button>
    </ng-container>
    <ng-template #isAuth>
      <div>
        <button
          pButton
          *ngIf="isAuth$ | async"
          (click)="logout()"
          label="Logout"
          pTooltip="Logged in as {{ (user$ | async)?.email }}"
          tooltipPosition="bottom"
        ></button>
      </div>
    </ng-template>
  </div>
</div>
