<div class="dashboard">
  <p-tabView>
    <p-tabPanel header="Watchlist">
      <ng-template pTemplate="content">
        <stock-watchlist></stock-watchlist>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Market News">
      <ng-template pTemplate="content">
        <market-news></market-news>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Events">
      <ng-template pTemplate="content">
        <events></events>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
